<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="main.css" rel="stylesheet" />
    <title>편집</title>
</head>

<body class="grey-bg">
    <%- include('nav.ejs') %>

        <form class="form-box" action="/edits/<%= username %>" method="POST" enctype="multipart/form-data">
            <h4>사진수정</h4>
            <input type="file" name="img1" accept="image/*">
            <button type="submit">보내기</button>
        </form>
        <form action="/logout" method="POST">
            <button type="submit">로그아웃</button>
        </form>
</body>

</html>