<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="main.css" rel="stylesheet" />
    <title>임시 유저 목록</title>
</head>

<body class="grey-bg">
    <div class="white-bg">
        <div class="list-box">
            <h3><%= user.username %></h3>
            <img src="<%= user.profilePictureUrl %>" alt="profile_picture" />
            <p><%= user.email %></p>
        </div>
    </div>
</body>

</html>
