<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Register</title>
  </head>

  <body>
    <h2>Register</h2>
    <form action="/register" method="POST">
      <div>
        <label for="username">username:</label>
        <input type="text" id="username" name="username" required />
      </div>
      <div>
        <label for="email">email:</label>
        <input type="text" id="email" name="email" required />
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
      </div>
      <div>
        <label for="passwordConfirm">passwordConfirm:</label>
        <input
          type="password"
          id="passwordConfirm"
          name="passwordConfirm"
          required
        />
      </div>
      <button type="submit">Register</button>
      <% if (message) { %>
      <div><%= message %></div>
      <% } %>
    </form>
  </body>
</html>
