@import url('https://rsms.me/inter/inter.css');

html {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

/* 전체 페이지 컨테이너 정렬 */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding-top: 100px;
}

/* 전체 페이지 스타일 */
body {
    height: 100vh;
    margin: 0;
}

html,
body {
    min-width: 1000px;
}

.portfolio-section {
    border-radius: 20px;
    background-color: #2DD1BD;
    color: white;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.portfolio-section h2 {
    margin-left: auto;
    padding-right: 16px;
}

/* 메인 섹션 스타일 */
main {
    text-align: center;
    margin-left: 80px;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    color: #606060;
}

.profile-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 100px;
}

.profile-details {
    text-align: left;
    color: rgb(58, 58, 58);
}

.profile-details h1 {
    margin-top: 0;
}

.profile-details p {
    margin: 5px 0;
}

.resume-details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 1000px;
    text-align: left;
}

.resume-details div {
    flex: 1;
    margin-right: 20px;
    border: 1px solid #939393;
    padding: 10px;
    border-radius: 10px;
    width: 1000px;
    margin-bottom: 10px;
}

.resume-details h2 {
    margin-top: 10px;
    margin-left: 10px;
    color: #2DD1BD;
}

.resume-details ul {
    padding-left: 20px;
}

.resume-details ul li {
    color: rgb(58, 58, 58)
}

.resume-details ul li:not(:first-child) {
    display: none;
}