html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.titles {
    margin-bottom: 20px;
}

.logo {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #CCCCCC;
}

.titles p {
    /* 당신의 포트폴리오를 공유해보세요 */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-top: 10px;
    margin-bottom: 0;
    /* identical to box height */

    color: rgba(0, 0, 0, 0.55);
}

.titles p span {
    color: #58E5D4;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.input-group input {
    min-width: 461px;
    /* Rectangle 1 */
    background: #F2F2F2;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    /* Email */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;

    color: #939393;
}

.input-group input:focus {
    outline: 2px solid #6f6d6d;
    transition: all 80ms;
}

.submit-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.submit-buttons button:hover {
    background-color: #8accc4;
    transition: all 0.5s;
}

.submit-buttons button {

    background: #9DE7DE;
    border-radius: 15px;
    border: none;
    padding: 5px 50px 5px 50px;
    /* 회원가입 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */

    color: #FFFFFF;
}

.submit-buttons button:focus {
    outline: none;
}