header {
    display: flex;
}

ol li {
    display: inline-block;
}

.profile {
    display: inline-block;
}


ol {
    margin-left: auto;
}

ol li {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #939393;
    padding-right: 2vw;
}

ol li:hover {
    cursor: pointer;
}

.category {
    width: 784px;
    height: 250px;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    background: #58E5D4;
    border-radius: 20px;

}

.category_text {
    /* Other’s Portfolio */
    text-align: right;
    padding-top: 200px;
    padding-right: 3vw;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 19px;

    color: white;
}

.profile_zone {
    display: grid;
    grid-template-columns: 260px 260px 260px;
    position: relative;
    width: 784px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.profile_card {
    width: 240px;
    height: 270px;
    background: #FFFFFF;
    border: 2px solid #939393;
    border-radius: 20px;
    margin-top: 15px;
    margin-left: 0.5vw;
}

.profile_image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: mediumturquoise;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.profile_text {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #606060;
}

#end {
    visibility: hidden;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}